<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de Placas Vehiculares</title>
    <link rel="icon" href="img/icon.png" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <nav class="navbar navbar-dark mb-4">
        <div class="container">
            <span class="navbar-brand mb-0 h1">Sistema de Placas Vehiculares</span>
        </div>
    </nav>

    <div class="container">
        <div class="row mb-4">
            <div class="col-md-3">
                <input type="text" class="form-control" placeholder="Buscar placa...">
            </div>
            <div class="col-md-3">
                <select class="form-select">
                    <option selected>Color de fondo</option>
                    <option value="1">Blanco</option>
                    <option value="2"></option>
                    <option value="3">Camión</option>
                </select>
            </div>
            <div class="col-md-3">
                <select class="form-select">
                    <option selected>Tipo de vehículo</option>
                    <option value="1">Automóvil</option>
                    <option value="2">Motocicleta</option>
                    <option value="3">Camión</option>
                </select>
            </div>
            <div class="col-md-2">
                <button class="btn btn-primary w-100">Buscar</button>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 mb-4">
                <table class="table table-striped table-hover">
                    <caption>Vehículos Registrados</caption>
                    <thead class="table-primary">
                        <tr>
                            <th>Matricula</th>
                            <th>Tipo de vehiculo</th>
                            <th>Departamento</th>
                            <th>Ciudad</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                        
                        
                    </tbody>
                </table>
            </div>

        </div>


    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>